# Chi square

In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [2]:
df = pd.read_csv(r'C:\Users\piyas\OneDrive\Desktop\New folder\Customer-Churn-Records New.csv')

In [3]:
X = df.drop(columns=['Exited'])
y = df['Exited']

In [4]:
X.head()

,RowNumber,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Card Type,Point Earned
0,1,619,1,Female,42,2,0.00,1,1,1,101348.88,1,2,DIAMOND,464
1,2,608,2,Female,41,1,83807.86,1,0,1,112542.58,1,3,DIAMOND,456
2,3,502,1,Female,42,8,159660.80,3,1,0,113931.57,1,3,DIAMOND,377
3,4,699,1,Female,39,1,0.00,2,0,0,93826.63,0,5,GOLD,350
4,5,850,2,Female,43,2,125510.82,1,1,1,79084.10,0,5,GOLD,425

In [5]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [6]:
X = pd.get_dummies(X)

In [7]:
k = 8
chi2_selector = SelectKBest(score_func=chi2, k=k)
X_new = chi2_selector.fit_transform(X, y)

In [8]:
selected_feature_indices = chi2_selector.get_support(indices=True)
selected_feature_names = X.columns[selected_feature_indices]

print("Selected Features:")
print(selected_feature_names)

Selected Features:
Index(['RowNumber', 'CreditScore', 'Geography', 'Age', 'Balance',
       'IsActiveMember', 'EstimatedSalary', 'Complain'],
      dtype='object')

# Information gain

In [9]:
from sklearn.feature_selection import mutual_info_classif

In [10]:
k = 5
ig_selector = SelectKBest(score_func=mutual_info_classif, k=k)
X_new = ig_selector.fit_transform(X, y)

In [11]:
selected_feature_indices = ig_selector.get_support(indices=True)
selected_feature_names = X.columns[selected_feature_indices]

print("Selected Features:")
print(selected_feature_names)

Selected Features:
Index(['Geography', 'Age', 'NumOfProducts', 'IsActiveMember', 'Complain'], dtype='object')

# Univariate Selection

In [12]:
from sklearn.feature_selection import f_classif

In [13]:
k = 5
kbest_selector = SelectKBest(score_func=f_classif, k=k)
X_new = kbest_selector.fit_transform(X, y)

In [14]:
selected_feature_indices = kbest_selector.get_support(indices=True)
selected_feature_names = X.columns[selected_feature_indices]

print("Selected Features:")
print(selected_feature_names)

Selected Features:
Index(['Geography', 'Age', 'Balance', 'IsActiveMember', 'Complain'], dtype='object')